/* -----------------------------------------
   Inline Classes
----------------------------------------- */
.italic {font-style:italic;}
.normal {font-weight:normal;}
.bold {font-weight:700;}
.light-bold {font-weight:100;}
.light {
	filter:alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
  	opacity: 0.25;
}
.medium-light {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
  	opacity: 0.5;
}
.ft10 {font-size:10px;}
.lht11 {line-height:11px;}
.ft11 {font-size:11px;}
.lht12 {line-height:12px;}
.ft12 {font-size:12px;}
.ft12em {font-size:1.2em;}
.lht13 {line-height:13px;}
.ft13 {font-size:13px;}
.lht14 {line-height:14px;}
.ft14 {font-size:14px;}
.lht15 {line-height:15px;}
.lht15em {line-height:1.5em;}
.ft15 {font-size:15px;}
.lht16 {line-height:16px;}
.ft16 {font-size:16px;}
.ft18 {font-size:18px;}
.lht18 {line-height:18px;}
.lht20 {line-height:20px;}
.lht22 {line-height:22px;}
.ft24 {font-size:24px;}
.lht24 {line-height:24px;}
.ft26 {font-size:26px;}
.lht26 {line-height:26px;}
.ft28 {font-size:28px;}
.lht28 {line-height:28px;}
.lht30 {line-height:30px;}
.lht32 {line-height:32px;}
.lht34 {line-height:34px;}
.bigtext {font-size:24px;line-height:inherit;}
.opaque {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
  	opacity: 0.5;
}
ul.unmargined,
ol.unmargined {
  margin-left: 0;
}
ul.smalldot,
ol.smalldot {
  font-size:10px;
}
ul.smalldot > li > a,
ol.smalldot > li > a {
	font-size:13px;
}
.nohover,a:hover.nohover,ul.nohover > li > a:hover {background:none !important;text-decoration:none !important;color:inherit !important;}
.well.whitewell { background:#fff; }
.sansserif-neue {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 100;}
.sansserif-neue-cond {font-family: "HelveticaNeue-Light-Condensed", "Helvetica Neue Light Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 100;}
.sansserif-neue-med {font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Medium", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;}
.sansserif-neue-bold {font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Bold", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 700;}
.sansserif {font-family: "Helvetica",Helvetica,Tahoma,Verdana,sans-serif;}
.arial {font-family:"Arial",Arial,Helvetica,sans-serif;}
.helvetica {font-family:"Helvetica",Helvetica,Arial,Verdana,sans-serif;}
.serif,.georgia {font-family:georgia,serif;}
/* Webtype Fonts*/
.bigfiggins {font-family:BigFiggins;font-weight:normal;font-style:italic;line-height:normal;}
.franklin-bold, .franklin b, .franklin strong {font-family:FranklinITCProBold;font-weight:normal; font-style:normal; line-height:normal;}
.franklin-light {font-family:FranklinITCProLight;font-weight:normal; font-style:normal; line-height:normal;}
.franklin-thin {font-family:FranklinITCProThin;font-weight:normal; font-style:normal; line-height:normal;}
.postoni,.postoni-bold,.postoni b,.postoni strong {font-family:Postoni;font-weight:bold; font-style:normal; line-height:normal;}
.postoni-display {font-family:PostoniDisplay;font-weight:normal; font-style:normal; line-height:normal;}
.postoni-display-italic,.postoni-display em,.postoni-display i {font-family:PostoniDisplay;font-weight:normal; font-style:italic; line-height:normal;}
.postoni-titling {font-family:PostoniTitling;font-weight:normal; font-style:normal; line-height:normal;}
/* End Webtype Fonts*/
.neue {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;}
.kern {letter-spacing:-1px;}
.hide,.hidden {display:none;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.center {margin:0 auto;text-align:center;position:relative;top:0;left:0;right:0;}
.centered {position:relative;margin:0 auto;}
.centered.topcenter {top:50%;margin-top:-60px;}
.centered.leftcenter {left:50%;margin-left:-400px;}
.text-right {text-align:right;}
.spacing.tight {letter-spacing:-1px;}
.up {text-transform:uppercase;}
.titlecase {text-transform:capitalize;}
.clear {clear:both;}
.left {float:left;}
.right {float:right;}
.center-margin {margin:0 auto;}
.fixed-middle-center{position:fixed;top:50%;left:50%;margin:-25% auto 0 -25%;z-index:1090;}
.block {display:block;}
.inline {display:inline;}
.inline-block {display:inline-block;}
.posrel {position:relative;}
.t1 {top:1px;}
.t2 {top:2px;}
.t5 {top:5px;}
.m5 {margin:5px;}
.m10 {margin:10px;}
.m15 {margin:15px;}
.m20 {margin:20px;}
.mt1 {margin-top:1px;}
.mtn1 {margin-top:-1px;}
.mtn2 {margin-top:-2px;}
.mtn3 {margin-top:-3px;}
.mtn5 {margin-top:-5px;}
.mtn10 {margin-top:-10px;}
.mtn15 {margin-top:-15px;}
.mt0 {margin-top:0px;}
.mt2 {margin-top:2px;}
.mt5 {margin-top:5px;}
.mt7 {margin-top:7px;}
.mt8 {margin-top:8px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mr2 {margin-right:2px;}
.mr4 {margin-right:4px;}
.mr5 {margin-right:5px;}
.mr7 {margin-right:7px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mrn20 { margin-right:-20px; }
.mb0 {margin-bottom:0;}
.mb5 {margin-bottom:5px;}
.mb7 {margin-bottom:7px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb320 {margin-bottom:320px;} /* Offset for fixed footer scrubber */
.mln5 {margin-left:-5px;}
.ml2 {margin-left:2px;}
.ml5 {margin-left:5px;}
.ml7 {margin-left:7px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.mln20 { margin-left:-20px; }
.ml25 {margin-left:20px;}
.p0 {padding:0;}
.p2 {padding:2px;}
.p5 {padding:5px;}
.p7 {padding:7px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.pt0 {padding-top:0px;}
.pt5 {padding-top:5px;}
.pt7 {padding-top:7px;}
.pt8 {padding-top:8px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pr0 {padding-right:0px;}
.pr2 {padding-right:2px;}
.pr4 {padding-right:4px;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pb0 {padding-bottom:0px !important;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pl0 {padding-left:0px;}
.pl2 {padding-left:2px;}
.pl4 {padding-left:4px;}
.pl5 {padding-left:5px !important;}
.pl7 {padding-left:7px;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl0 { padding-left: 0px !important; }
.pr0 { padding-right: 0px !important; }
.bordersolid {border:1px solid #ddd;}
.bordertop {border-top:1px solid #ddd;}
.borderleft {border-left:1px solid #ddd;}
.borderright {border-right:1px solid #ddd;}
.borderbottom {border-bottom:1px solid #ddd;}
.borderleft.tall {padding-top:0;padding-bottom:0;height:20px;}
.w25p {width:25%;}
.w33p {width:33%;}
.w49p {width:49%;}
.w50p {width:50%;}
.w100p {width:100%;}
.blktxtshadow {text-shadow:0 1px 0 rgba(0,0,0,0.3);}
.whttxtshadow {text-shadow:0 1px 0 rgba(255,255,255,0.4);}
.whttxtshadowdark {text-shadow:0 1px 1px rgba(255,255,255,0.8);}
.whttxtshadowup {text-shadow:0 -1px 0 rgba(255,255,255,0.4);}
.whttxtshadow2px {text-shadow:0 1px 1px rgba(255,255,255,0.4);}
.nocorners,
input.nocorners,
.input-append input.nocorners,
.well.nocorners,
.btn.nocorners {
	-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;
}
.noshadows {
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0);
	   -moz-box-shadow:0 0 0 rgba(0,0,0,0);
	        box-shadow:0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	   -moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
        	box-shadow:inset 0 0 0 rgba(0,0,0,0);
	text-shadow:0 0 0 rgba(0,0,0,0);
}
.boxshadow-top {
	-webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25);
	border-top:0 none;
}
.noborders {
	border:0 none;
}
.mirror {
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}
ul.listborderdot li {
	border-bottom:2px dotted #c2c3c6;
	padding:15px 0;
}
ul.listborderdot li:last-child {
	border-bottom:0 none;
}
/* Horizontal Lines */
hr.dashed {
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
}
hr.dark {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #eee;
}
hr.tight { margin:15px 0;}
hr.tighter { margin:10px 0;}
hr.tightest { margin:5px 0; }
hr.nomargin { margin:0;}
hr.nomargintop { margin:0 0 20px 0;}
hr.full { border: 0; border-top: 2px solid #000; border-bottom: 1px solid #000; }

/* Responsive Inline Styles */
@media(max-width:586px){
	.phone-mt5 {margin-top:15px;}
	.phone-mt10 {margin-top:15px;}
	.phone-mt15 {margin-top:15px;}
	.phone-mt20 {margin-top:15px;}
}